<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cordova.tracker" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Tracker</name>
    <description>
        A Tracker App
    </description>
    <author email="thomas.karl.richter@gmail.com">
        Thomas
    </author>
    <author email="fjahanshir@gmail.com">
        Farzad Jahanshir
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
